<h1>Go!</h1>
<script type="text/javascript">
  function random_fill(board){
    cells = board.get('cells');
    _.each(cells, function(columns) {
      _.each(columns, function(cell) {
        random = ['white', 'black', null][Math.round(Math.random() * 3)]
        cell.set('holds', random);
      });
    });
  }
  $(function() {
    var board = new Board;
    //just for something fun to look at
    random_fill(board);
    var board_view = new BoardView(board, $('#app'));
  });
</script>
<div id="app">
</div>
