html
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title wieqi
    block head
      script(src='/static/js/'+assetsCacheHashes.js+'/main.js')
      link(rel='stylesheet', href='/static/css/'+assetsCacheHashes.css+'/main.css', type="text/css")
      link(rel='stylesheet', href='/jgo/jgoboard.css', type="text/css")
      script(type='text/javascript)
        $(document).ready(function(){
          window.site = new weiqi.site(function(){console.log('done loading!')})
        })
  body
    block body
      #body
