body {
  font-family: Helvetica, Arial, Sans;
}

#container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.console {
  float: right;
  width: 252px;
  padding: 30px;
}

.console h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 90px;
  font-weight: 800;
}

