extends ../layout

block container
  #app.front
    .start
      h1 Weiqi

      form(method="post", action="/boards")
        input(type="hidden", name="board_size", value=19)
        input(type="submit", value="start a big game")
