extends ../layout

block container
  script
    $(function() {
      var board = new weiqi.Board(!{board_json});
      var board_view = new weiqi.BoardView({model: board, el: $('#app'), player_color: "#{player_color}"});
    });

  #app
