extends ../layout

block body
  h1= user.name

  div#user
    form(method="post")
      input(type="hidden", value="put", name="_method")
      p Email: 
      input(type="text", value=user.name, name="user[name]")
      input(type="text", value=user.email, name="user[email]")
      input(type="submit", value="save")

